<app-page [iconName]="iconName" pageTitle="Associa una tematica ad un'area" [buttons]="buttons">
    <form ngForm>
        <div class="row justify-content-center"> 
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedTopic" aria-label="topic" name="topic" id="topicId">
                        <option *ngFor="let topic of topics" [ngValue]="topic.id"> {{topic.value}} </option>
                    </select>
                    <label for="topicId"> tematica </label>
                 </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedArea" aria-label="area" name="area" id="areaId">
                        <option *ngFor="let area of areas" [ngValue]="area.id"> {{area.value}} </option>
                    </select>
                    <label for="areaId"> area </label>
                 </div>
            </div>
        </div>
    </form>
</app-page>
<app-popup #popup></app-popup>