<section style="text-align: center;">
    <h1> PAGINA ASSOCIA TEMATICA AD AREA </h1>
    <br/>
    <div>
        <form ngForm>
            <h4> tematica </h4>
            <input [(ngModel)]="topicId" type="number">
            <h4> area </h4>  
            <input [(ngModel)]="areaId" type="number">
        </form>
        <br/>
        <br/>
        <br/>
        <button class="btn btn-primary" color="primary" (click)="addAreaTopicConnection()"> Salva </button>
    </div>
    <br/>
    <div *ngIf="success && !error">
        <h4> Salvataggio andato a buon fine! </h4>
    </div>
    <div *ngIf="error && !success">
        <h4> Oops! Non è stato possibile salvare </h4>
    </div>
</section>