<app-page [iconName]="iconName" pageTitle="Registrazione competenze" cardTitle="Aggiungi competenza" [buttons]="buttons">
    <form ngForm>
        <div class="row justify-content-center">
            <div class="col-md-3 form-floating">
                <input [(ngModel)]="name" type="text" name="name" class="form-control" id="name">
                <label for="name"> nome </label>
            </div>
            <div class="col-md-3 form-floating">
                <input [(ngModel)]="description" type="text" name="description" class="form-control" id="description">
                <label for="description"> descrizione </label>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedTopic" aria-label="topic" name="topic" id="topicId">
                        <option *ngFor="let topic of topics" [ngValue]="topic.id"> {{topic.value}} </option>
                    </select>
                    <label for="topicId"> tematica </label>
                 </div>
            </div>
        </div>
    </form>
</app-page>
<app-popup #popup></app-popup>