<br/>
<br/>
<br/>
<div class="container">
    <form ngForm>
        <div class="row">
            <div class="col-md-4 form-floating">
                <input [(ngModel)]="name" type="text" name="name" class="form-control" id="name">
                <label for="name"> name </label>
            </div>
            <div class="col-md-4 form-floating">
                <input [(ngModel)]="description" type="text" name="description" class="form-control" id="description">
                <label for="description"> descrizione </label>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedTopic" aria-label="topic" name="topic" id="topicId">
                        <option *ngFor="let topic of topics" [ngValue]="topic.id"> {{topic.value}} </option>
                    </select>
                    <label for="topicId"> tematica </label>
                 </div>
            </div>
        </div>
    </form>
    <br/>
    <div class="d-flex justify-content-center">
        <button class="col-md-1 btn btn-dark" color="dark" (click)="addSkill()"> Salva </button>
    </div>
    <br/>
    <br/>
    <div *ngIf="success && !error">
        <h4> Salvataggio andato a buon fine! </h4>
    </div>
    <div *ngIf="error && !success">
        <h4> Oops! Non è stato possibile salvare la competenza </h4>
    </div>
</div>