<br/>
<br/>
<br/>
<div class="container">
    <form ngForm>
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedPerson" aria-label="person" name="person" id="personId">
                        <option *ngFor="let person of people" [ngValue]="person.id"> {{person.value}} </option>
                    </select>
                    <label for="personId"> persona </label>
                 </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedSkill" aria-label="skill" name="skill" id="skillId">
                        <option *ngFor="let skill of skills" [ngValue]="skill.id"> {{skill.value}} </option>
                    </select>
                    <label for="skillId"> competenza </label>
                 </div>
            </div>
            <div class="col form-floating mb-4">
                <input [(ngModel)]="mark" type="number" name="mark" class="form-control" id="mark">
                <label for="mark"> voto </label>
            </div>
        </div>
    </form>
    <br/>
    <div class="d-flex justify-content-center">
        <button class="btn btn-dark" color="dark" (click)="addPersonSkillConnection()"> Salva </button>
    </div>
    <br/>
    <br/>
    <div *ngIf="success && !error">
        <h4> Salvataggio andato a buon fine! </h4>
    </div>
    <div *ngIf="error && !success">
        <h4> Oops! Non è stato possibile salvare </h4>
    </div>
</div>