<br/>
<br/>
<br/>
<div class="container">
    <form ngForm>
        <div class="row">
            <select class="col form-select" aria-label="person">
                <option selected disabled> persona: </option>
                <option *ngFor="let person of people" [ngValue]="selectedPerson"> {{person.value}} </option>
            </select>
            <select class="col form-select" aria-label="skill">
                <option selected disabled> competenza: </option>
                <option *ngFor="let skill of skills" [ngValue]="selectedSkill"> {{skill.value}} </option>
            </select>
            </div>
              <div class="col form-floating mb-3">
                <input [(ngModel)]="mark" type="number" name="mark" class="form-control" id="mark">
                <label for="mark"> voto </label>
            </div>
            <button class="btn btn-primary" color="primary" (click)="addPersonSkillConnection()"> Salva </button>
        </div>
    </form>
    <br/>
    <div *ngIf="success && !error">
        <h4> Salvataggio andato a buon fine! </h4>
    </div>
    <div *ngIf="error && !success">
        <h4> Oops! Non è stato possibile salvare </h4>
    </div>
</div>