<app-page [iconName]="iconName" pageTitle="Associazioni Persone-Competenze" [buttons]="buttons">
    <form #form="ngForm">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-floating">
                    <input id="PersonTypeahead" type="text" class="form-control" required 
                        [(ngModel)]="selectedPerson" name="PersonTypeahead" [ngbTypeahead]="searchPerson" 
                        [inputFormatter]="inputFormatter" [resultFormatter]="resultsFormatter" 
                        placeholder="persona"
                    />
                    <label for="PersonTypeahead"> persona </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input id="SkillTypeahead" type="text" class="form-control" required 
                        [(ngModel)]="selectedSkill" name="SkillTypeahead" [ngbTypeahead]="searchSkill" 
                        [inputFormatter]="inputFormatter" [resultFormatter]="resultsFormatter" 
                        placeholder="competenza"
                    />
                    <label for="SkillTypeahead"> competenza </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <select id="markId" class="form-select" required
                    [(ngModel)]="mark" name="mark">
                        <option> 0 </option>
                        <option> 1 </option>
                        <option> 2 </option>
                        <option> 3 </option>
                        <option> 4 </option>
                    </select>
                    <label for="markId"> voto </label>
                </div>
            </div>
        </div>
    </form>
</app-page>
<app-popup #popup></app-popup>