<app-page [iconName]="iconName" pageTitle="Registrazione Persone" cardTitle="Aggiungi persona" [buttons]="buttons">
    <form #form="ngForm">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-floating">
                    <input id="serial" type="number" class="form-control" required
                        [(ngModel)]="person.serial" name="serial"
                        placeholder="matricola"
                    >
                    <label for="serial"> matricola </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input id="name" type="text" class="form-control" required
                        [(ngModel)]="person.name" name="name"
                        placeholder="nome"
                    >
                    <label for="name"> nome </label>
                </div>
            </div>
            <div class="col-md-3"> 
                <div class="form-floating">
                    <input id="surname" type="text" class="form-control" required
                        [(ngModel)]="person.surname" name="surname"
                        placeholder="cognome"
                    >
                    <label for="surname"> cognome </label>
                </div>
            </div>
        </div>
    </form>
</app-page>
<app-popup #popup></app-popup>