<app-page [iconName]="iconName" pageTitle="Registrazione aree" cardTitle="Aggiungi area" [buttons]="buttons"> 
    <form ngForm>
        <div class="row justify-content-center">
            <div class="col-md-4 form-floating">
                <input [(ngModel)]="name" type="text" name="name" class="form-control" id="name">
                <label for="name"> nome </label>
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedPerson" aria-label="manager" name="manager" id="managerId">
                        <option *ngFor="let person of people" [ngValue]="person.id"> {{person.value}} </option>
                    </select>
                    <label for="managerId"> responsabile </label>
                 </div>
            </div>
        </div>
    </form>
    <div *ngIf="success && !error">
        <br/>
        <h6> Salvataggio andato a buon fine! </h6>
    </div>
    <div *ngIf="error && !success">
        <br/>
        <h6> Oops! Non è stato possibile salvare l'area </h6>
    </div>
</app-page>