<app-page [iconName]="iconName" pageTitle="Registrazione Aree" cardTitle="Aggiungi area" [buttons]="buttons"> 
    <form #form="ngForm">
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-floating">
                    <input id="name" type="text" class="form-control" required
                        [(ngModel)]="name" name="name"
                        placeholder="nome"
                    >
                    <label for="name"> nome </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input id="PersonTypeahead" type="text" class="form-control" required 
                        [(ngModel)]="selectedPerson" name="PersonTypeahead" [ngbTypeahead]="searchPerson" 
                        [inputFormatter]="inputFormatter" [resultFormatter]="resultsFormatter" 
                        placeholder="responsabile"
                    />
                    <label for="PersonTypeahead"> responsabile </label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input id="typeahead" type="text" class="form-control" required 
                        [(ngModel)]="selectedTopic" name="typeahead" [ngbTypeahead]="searchTopic" 
                        [inputFormatter]="inputFormatter" [resultFormatter]="resultsFormatter" 
                        placeholder="tematica"
                    />
                    <label for="typeahead"> tematica </label>
                </div>
            </div>
        </div>
    </form>
</app-page>
<app-popup #popup></app-popup>