<app-page [iconName]="iconName" pageTitle="Associazioni Persone-Tematiche" [buttons]="buttons">
    <form #form="ngForm">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-floating">
                    <input id="PersonTypeahead" type="text" class="form-control" required 
                        [(ngModel)]="selectedPerson" name="PersonTypeahead" [ngbTypeahead]="searchPerson" 
                        [inputFormatter]="inputFormatter" [resultFormatter]="resultsFormatter" 
                        placeholder="persona"
                    />
                    <label for="PersonTypeahead"> persona </label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input id="typeahead" type="text" class="form-control" required 
                        [(ngModel)]="selectedTopic" name="typeahead" [ngbTypeahead]="searchTopic" 
                        [inputFormatter]="inputFormatter" [resultFormatter]="resultsFormatter" 
                        placeholder="tematica"
                    />
                    <label for="typeahead"> tematica </label>
                </div>
            </div>  
        </div>
    </form>
</app-page>
<app-popup #popup></app-popup>