<app-page [iconName]="iconName" pageTitle="Associa una persona ad una tematica" [buttons]="buttons">
    <form ngForm>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedPerson" aria-label="person" name="person" id="personId">
                        <option *ngFor="let person of people" [ngValue]="person.id"> {{person.value}} </option>
                    </select>
                    <label for="personId"> persona </label>
                 </div>
            </div>
            <div class="col-md-4 offset-md-1">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedTopic" aria-label="topic" name="topic" id="topicId">
                        <option *ngFor="let topic of topics" [ngValue]="topic.id"> {{topic.value}} </option>
                    </select>
                    <label for="topicId"> tematica </label>
                 </div>
            </div>  
        </div>
    </form>
    <div *ngIf="success && !error">
        <br/>
        <h6> Salvataggio andato a buon fine! </h6>
    </div>
    <div *ngIf="error && !success">
        <br/>
        <h6> Oops! Non è stato possibile salvare </h6>
    </div>
</app-page>