<app-page [iconName]="iconName" pageTitle="Associazioni Persone-Tematiche" [buttons]="buttons">
    <form #form="ngForm">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <app-typeahead required
                    label="persona" [list]="people" 
                    [(ngModel)]="personId" name="person" #person="ngModel"
                />
                <div *ngIf="person.invalid && (person.dirty || person.touched)" class="alert alert-danger" role="alert">
                    <div *ngIf="person.errors?.['required']">
                        <strong> Attenzione! </strong> Campo obbligatorio.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <app-typeahead required
                    label="tematica" [list]="topics" 
                    [(ngModel)]="topicId" name="topic" #topic="ngModel"
                />
                <div *ngIf="topic.invalid && (topic.dirty || topic.touched)" class="alert alert-danger" role="alert">
                    <div *ngIf="topic.errors?.['required']"> 
                        <strong> Attenzione! </strong> Campo obbligatorio.
                    </div>
                </div>
            </div>  
        </div>
    </form>
</app-page>
<app-popup #popup></app-popup>