<br/>
<br/>
<br/>
<div class="container">
    <form ngForm>   
        <div class="row">
            <div class="form-floating justify-content-center">
                <input [(ngModel)]="topic.name" type="text" name="name" class="form-control" id="name">
                <label for="name"> name </label>
            </div>
        </div>
    </form>
    <br/>
    <div class="d-flex justify-content-center">
        <button class="col-md-1 btn btn-dark" color="dark" (click)="addTopic()"> Salva </button>
    </div>
    <br/>
    <br/>
    <div *ngIf="success && !error">
        <h4> Salvataggio andato a buon fine! </h4>
    </div>
    <div *ngIf="error && !success">
        <h4> Oops! Non è stato possibile salvare la tematica </h4>
    </div>
</div>