<app-page [iconName]="iconName" pageTitle="Registrazione tematiche" cardTitle="Aggiungi tematica" [buttons]="buttons">
    <form ngForm>
        <div class="row">
            <div class="form-floating justify-content-center">
                <input [(ngModel)]="topic.name" type="text" name="name" class="form-control" id="name">
                <label for="name"> name </label>
            </div>
        </div>
    </form>
    <div *ngIf="success && !error">
        <br/>
        <h6> Salvataggio andato a buon fine! </h6>
    </div>
    <div *ngIf="error && !success">
        <br/>
        <h6> Oops! Non è stato possibile salvare la tematica </h6>
    </div>
</app-page>