<div class="container">
    <div class="d-flex justify-content-between" *ngIf="pageTitle">
        <div class="d-flex">
            <i-feather [name]="iconName"></i-feather>
            <h2> {{pageTitle}} </h2>
        </div>
        <!--<a [routerLink]="link.path"> {{link.name}} </a>-->
    </div>
    <div class="col-md-12 card px-4">
        <div class="card-header" *ngIf="cardTitle">
            <h4> {{cardTitle}} </h4>
        </div>
        <div class="card-body">
            <ng-content></ng-content>
        </div>
        <div class="card-footer" *ngIf="buttons.length!==0">
            <ng-container *ngFor="let button of buttons">
                <button *ngIf="button.disabled; else poivedoNomebutton" (click)="onClick(button)" type="button" class="btn btn-primary" [disabled]="button.disabled | async"> {{button.name}} </button>
                <ng-template #poivedoNomebutton>
                    <button  (click)="onClick(button)" type="button" class="btn btn-primary" > {{button.name}} </button>
                </ng-template>
            </ng-container>
        </div>
    </div>
</div>