.container {
    margin-top: 80px;
}

div .d-flex i-feather {
    cursor: pointer;
    color: black;
}

.card-header {
    background-color: white;
    //background-color: #87bafb;
    color: black;
}

.card {
    background-color: white;
    -webkit-box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.05);
}

.card-body {
    padding: 40px;
    padding-bottom: 60px;
}

.card-footer {
    justify-content: center;
    display: flex;
    background-color: white;
}

button {
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    margin: 0.5rem 1rem 0.5rem 0rem;
    //background-color: #0080FF;
    color: white;
}

.btn:hover {
    background-color: mediumblue;
    color: white;
}