<app-page [iconName]="iconName" pageTitle="Associazione tra persone e aree" cardTitle="Associa una persona ad un'area" [buttons]="buttons">
    <form ngForm>
        <div class="row">
            <div class="col-md-6">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedPerson" aria-label="person" name="person" id="personId">
                        <option *ngFor="let person of people" [ngValue]="person.id"> {{person.value}} </option>
                    </select>
                    <label for="personId"> persona </label>
                 </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedArea" aria-label="area" name="area" id="areaId">
                        <option *ngFor="let area of areas" [ngValue]="area.id"> {{area.value}} </option>
                    </select>
                    <label for="areaId"> area </label>
                 </div>
            </div>
        </div>
    </form>
    <div *ngIf="success && !error">
        <br/>
        <h6> Salvataggio andato a buon fine! </h6>
    </div>
    <div *ngIf="error && !success">
        <br/>
        <h6> Oops! Non è stato possibile salvare </h6>
    </div>
</app-page>