<app-page [iconName]="iconName" pageTitle="Dettagli persona" [buttons]="buttons">
    <div *ngIf="person && areas" class="card">
        <div class="card-header">
            <h4> Profilo </h4>
        </div>
        <div class="card-body row">
            <div class="col-md-6"> 
                <div class="row">
                    <div class="col-md-3"> 
                        <h6> MATRICOLA: </h6>
                    </div>
                    <div class="col"> 
                        <h5 class="text-primary"> {{person.serial}} </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"> 
                        <h6> NOME: </h6>
                    </div>
                    <div class="col"> 
                        <h5 class="text-primary"> {{person.name}} </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"> 
                        <h6> COGNOME: </h6>
                    </div>
                    <div class="col"> 
                        <h5 class="text-primary"> {{person.surname}} </h5>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h6> AREE: </h6>
                <div *ngIf="areas.length===0">
                    <h5 class="text-primary"> nessuna </h5>
                </div>
                <div class="row">
                    <div *ngFor="let area of areas" class="col-md-4">
                        <h5 class="text-primary"> {{area.value}} </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-header">
            <h4> Tematiche e competenze </h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 offset-9">
                    <div class="input-group">
                        <input #filterField type="text" class="form-control"(keyup)="onFilter($event)" placeholder="Cerca tematica" aria-label="Cerca tematica" aria-describedby="filter">
                        <button class="btn btn-primary" (click)="reset(); filterField.value=''" type="button" id="filter"> <i-feather name="trash-2"></i-feather></button>
                    </div>
                </div>
            </div>
            <div *ngIf="topicsSkillsBE && collectionSize && topicsSkillsBE.length>0">
                <br/>
                <br/>
                <ngb-accordion [closeOthers]="true">
                    <ngb-panel id="panel-{{topicSkills.topicName}}" *ngFor="let topicSkills of topicSkillsList | slice: (currentPage-1) * pageSize : currentPage * pageSize">
                        <ng-template ngbPanelTitle>
                            <div class="row">
                                <div class="col">
                                    <img class="images" [src]="'/assets/images/mark'+topicSkills.average+'.png'" />
                                </div>
                                <h6 class="col"> {{topicSkills.topicName.toUpperCase()}} </h6>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row">
                                <div *ngFor="let skillMark of topicSkills.skillsMarks" class="col-md-2">
                                    <app-mini-card title="{{skillMark.skillName}}">
                                        <img class="images" [src]="'/assets/images/mark'+skillMark.mark+'.png'" />
                                    </app-mini-card>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>
                <br/>
                <ngb-pagination *ngIf="collectionSize>pageSize" [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="collectionSize" [directionLinks]="false"></ngb-pagination>
            </div>
            <div *ngIf="!topicsSkillsBE || !collectionSize || topicsSkillsBE.length<=0">
                <br/>
                <h5> Nessuna tematica associata alla persona </h5>
            </div>
        </div>
            
    </div>
</app-page>


<!--
    <div *ngIf="topicSearched && (topicSearched.topicName && topicSearched.average && topicSearched.skillsMarks)">
        <div class="row">
            <div class="col-md-3">
                <button type="button" class="btn btn-link btn-lg" (click)="notCollapsedSelected = !notCollapsedSelected"> {{topicSearched.topicName}} </button>
            </div>
            <div class="col-md-1"> 
                <img class="images" [src]="'/assets/images/mark'+topicSearched.average+'.png'" /> 
            </div>
        </div>
        <div #collapse="ngbCollapse" [(ngbCollapse)]="notCollapsedSelected">
            <div *ngFor="let skillMark of topicSearched.skillsMarks">
                <div class="row">
                    <h5 class="col-md-4 offset-1"> {{skillMark.skillName}} </h5>
                    <div class="col-md-1">
                        <img class="images" [src]="'/assets/images/mark'+skillMark.mark+'.png'" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="topicSearched === undefined || (!topicSearched.topicName && !topicSearched.average && !topicSearched.skillsMarks)">
        <div class="row">
            <div *ngFor="let topicSkills of topicsSkills; let i = index" class="col-md-4">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-link btn-lg" (click)="notCollapsed[i] = !notCollapsed[i]"> {{topicSkills.topicName}} </button>
                    </div>
                    <div class="col-md-1"> 
                        <img class="images" [src]="'/assets/images/mark'+topicSkills.average+'.png'" /> 
                    </div>
                </div>
                <div #collapse="ngbCollapse" [(ngbCollapse)]="notCollapsed[i]">
                    <div *ngFor="let skillMark of topicSkills.skillsMarks">
                        <div class="row">
                            <h5 class="col-md-4 offset-1"> {{skillMark.skillName}} </h5>
                            <div class="col-md-1">
                                <img class="images" [src]="'/assets/images/mark'+skillMark.mark+'.png'" />
-->