.images {
    width: 30px;
    height: 30px;
}

h5 {
    cursor: pointer;
}

.card-header {
    background-color: #87bafb;
    color: white;
    padding: 0.1rem 0rem 0.1rem 1rem;
}

.card-body {
    margin: 15px;
}