<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle> Persone </a>
          <div ngbDropdownMenu>
            <a ngbDropdownItem href="/person"> Gestione personale </a>
            <a ngbDropdownItem href="/addPerson"> Registrazione persone </a>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle> Aree </a>
          <div ngbDropdownMenu>
            <!--<a ngbDropdownItem href="/area"> Gestione aree </a>-->
            <a ngbDropdownItem href="/addArea"> Registrazione aree </a>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle> Tematiche </a>
          <div ngbDropdownMenu>
            <!--<a ngbDropdownItem href="/topic"> Gestione tematiche </a>-->
            <a ngbDropdownItem href="/addTopic"> Registrazione tematiche </a>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle> Competenze </a>
          <div ngbDropdownMenu>
            <!--<a ngbDropdownItem href="/skill"> Gestione competenze </a>-->
            <a ngbDropdownItem href="/addSkill"> Registrazione competenze </a>
          </div>
        </li>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle> Associazioni </a>
          <div ngbDropdownMenu>
            <a ngbDropdownItem routerLink="/personArea"> Persone ad Aree </a>
            <a ngbDropdownItem href="/personTopic"> Persone a Tematiche </a>
            <a ngbDropdownItem href="/personSkill"> Persone a Competenze </a>
            <a ngbDropdownItem href="/areaTopic"> Tematiche ad Aree </a>
          </div>
        </li>
      </ul>
    </div>

    <a class="navbar-brand" href=""> LottoprovApp </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<router-outlet></router-outlet>
