<app-page [iconName]="iconName" pageTitle="Gestione Personale" cardTitle="Cerca persone" [buttons]="buttons" (selection)="onClick($event)">
    <!-- [link]="link" -->
    <form ngForm>
        <div class="row justify-content-center">
            <div class="col-md-3">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedArea" (change)="setSelects(0)" aria-label="area" name="area" id="areaId">
                        <option selected [ngValue]="undefined"> </option>
                        <option *ngFor="let area of areas" [ngValue]="area.id"> {{area.value}} </option>
                    </select>
                    <label for="areaId"> area </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedTopic" (change)="setSelects(1)" aria-label="topic" name="tematica" id="topicId">
                        <option selected [ngValue]="undefined">  </option>
                        <option *ngFor="let topic of topics" [ngValue]="topic.id"> {{topic.value}} </option>
                    </select>
                    <label for="topicId"> tematica </label>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedSkill" (change)="setSelects(2)" aria-label="skill" name="skill" id="skillId">
                        <option selected [ngValue]="undefined"> </option>
                        <option *ngFor="let skill of skills" [ngValue]="skill.id"> {{skill.value}} </option>
                    </select>
                    <label for="skillId"> competenza </label>
                </div>    
            </div>
        </div>
    </form>
</app-page>
<app-page *ngIf="people && collectionSize && people.length>0" cardTitle="Risultato ricerca">
    <table class="table">
        <thead>
            <tr>
                <th (click)="onSortClick(1)">
                  <div class="row"> 
                        <div *ngIf="arrow && sortColumn===1" class="col-md-1"> 
                            <i-feather [name]="arrow"></i-feather>  
                        </div>
                        <h6 class="text-primary col-md-4"> Matricola </h6>
                    </div> 
                </th>
                <th (click)="onSortClick(2)"> 
                    <div class="row"> 
                        <div *ngIf="arrow && sortColumn===2" class="col-md-1"> 
                            <i-feather [name]="arrow"></i-feather>  
                        </div>
                        <h6 class="text-primary col-md-3"> Nome </h6>
                    </div> 
                </th>
                <th (click)="onSortClick(3)"> 
                    <div class="row"> 
                        <div *ngIf="arrow && sortColumn===3" class="col-md-1"> 
                            <i-feather [name]="arrow"></i-feather>  
                        </div>
                        <h6 class="text-primary col-md-4"> Cognome </h6>
                    </div>
                </th>
                <th width="30px"> </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of people! | slice: (currentPage-1) * pageSize : currentPage * pageSize">
                <td> {{person.serial}} </td>
                <td> {{person.name}} </td>
                <td> {{person.surname}} </td>
                <td> <a [routerLink]="['/person', person.id]"> <i-feather name="file-text"></i-feather> </a> </td>
            </tr>
        </tbody>
    </table>
    <ngb-pagination [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="collectionSize" [directionLinks]="false"></ngb-pagination>
</app-page>