<app-page [iconName]="iconName" pageTitle="Dettagli persona">
    <div *ngIf="!person && !topics && !areas">
        <h6> Oops! Non è stato possibile caricare i dati </h6> 
    </div>
    
    <div *ngIf="person"> 
        <div class="row">
            <div class="col-md-1"> 
                <h6> matricola: </h6>
            </div>
            <div class="col-md-1"> 
                <h5> {{person.serial}} </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"> 
                <h6> nome: </h6>
            </div>
            <div class="col-md-1"> 
                <h5> {{person.name}} </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1"> 
                <h6> cognome: </h6>
            </div>
            <div class="col-md-1"> 
                <h5> {{person.surname}} </h5>
            </div>
        </div>
    </div>

    <br/>
    <div *ngIf="topics">
        <h6> tematiche: </h6>
        <div *ngFor="let topic of topics">
            <h5> {{topic.value}} </h5>
        </div>
    </div>

    <br/>
    <div *ngIf="areas">
        <h6> aree: </h6>
        <div *ngFor="let area of areas">
            <h5> {{area.value}} </h5>
        </div>
    </div>

    <br/>
    <div *ngIf="skillMarks">
        <table class="table">
            <thead>
                <tr>
                    <th> <h6> competenza </h6> </th>
                    <th> <h6> voto </h6> </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let skillMark of skillMarks">
                    <td> <h5> {{skillMark.skillName}} </h5> </td>
                    <td> <img class="images" [src]="'/assets/images/mark'+skillMark.mark+'.png'" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!skillMarks">
        <h6> Oops! Non è stato possibile caricare le competenze </h6>
    </div>
</app-page>