<br/>
<br/>
<br/>
<div class="container">
    <div>
        <a routerLink="/person/add"> Aggiungi una persona </a>
    </div>
    <br/>
    <div>
        <form ng form>
            <div class="row">
                <div class="col form-floating mb-3">
                    <input [(ngModel)]="areaId" type="number" name="areaId" class="form-control" id="areaId">
                    <label for="areaId"> area </label>
                </div>
                <div class="col form-floating mb-3">
                    <input [(ngModel)]="skillId" type="number" name="skillId" class="form-control" id="skillId">
                    <label for="skillId"> competenza </label>
                </div>
                <div class="col form-floating mb-3">
                    <input [(ngModel)]="topicId" type="number" name="topicId" class="form-control" id="topicId">
                    <label for="topicId"> tematica </label>
                </div>
            </div>
        </form>    
        <br/>
        
        <button class="btn btn-primary" color="primary" (click)="searchPeople()"> Cerca </button>
    </div>
    <br/>
    <div *ngIf="success && !error && people.length>0">
        <table>
            <thead>
                <tr>
                    <th> username </th>
                    <th> nome </th>
                    <th> cognome </th>
                    <th> competenza </th>
                    <th> voto </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let person of people">
                    <tr *ngFor="let skillMark of person.skillMarkList">  
                        <td> {{person.username}} </td>
                        <td> {{person.name}} </td>
                        <td> {{person.surname}} </td>
                        <td> {{skillMark.skillName}} </td>
                        <td> <img  class="images" [src]="'/assets/images/mark'+skillMark.mark+'.png'"/> </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </div>
    <div *ngIf="success && !error && people.length==0">
        <h4> Nessuna persona soddisfa la ricerca </h4>
    </div>
    <div *ngIf="error">
        <h4> Oops! Non è stato possibile caricare le persone </h4>
    </div>
</div>