<app-page pageTitle="GESTIONE PERSONALE" [link]="link" iconName="iconName" cardTitle="Cerca persone" [buttons]="buttons">
    <form ngForm>
        <div class="row">
            <div class="col-md-4">
                <div class="form-floating">
                        <select class="form-select" [(ngModel)]="selectedArea" aria-label="area" name="area" id="areaId">
                            <option selected> </option>
                            <option *ngFor="let area of areas" [ngValue]="area.id"> {{area.value}} </option>
                        </select>
                        <label for="areaId"> area </label>
                    </div>
            </div>

            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedSkill" aria-label="skill" name="skill" id="skillId">
                        <option selected> </option>
                        <option *ngFor="let skill of skills" [ngValue]="skill.id"> {{skill.value}} </option>
                    </select>
                    <label for="skillId"> competenza </label>
                </div>    
            </div>

            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" [(ngModel)]="selectedTopic" aria-label="topic" name="tematica" id="topicId">
                        <option selected> </option>
                        <option *ngFor="let topic of topics" [ngValue]="topic.id"> {{topic.value}} </option>
                    </select>
                    <label for="topicId"> tematica </label>
                </div>
            </div>
        </div>
    </form>
</app-page>
<!-- <div class="container">
    <h2> PERSONE </h2>
    <div>
        <a routerLink="/person/add"> Aggiungi una persona </a>
    </div>
    <div class="col-md-12 card">
        <div class="card-body">
            <i-feather name="search"></i-feather>
            <h4 class="card-title"> Cerca persone </h4>
            <br/>
            <form ngForm>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-floating">
                                <select class="form-select" [(ngModel)]="selectedArea" aria-label="area" name="area" id="areaId">
                                    <option selected> </option>
                                    <option *ngFor="let area of areas" [ngValue]="area.id"> {{area.value}} </option>
                                </select>
                                <label for="areaId"> area </label>
                            </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-floating">
                            <select class="form-select" [(ngModel)]="selectedSkill" aria-label="skill" name="skill" id="skillId">
                                <option selected> </option>
                                <option *ngFor="let skill of skills" [ngValue]="skill.id"> {{skill.value}} </option>
                            </select>
                            <label for="skillId"> competenza </label>
                        </div>    
                    </div>

                    <div class="col-md-4">
                        <div class="form-floating">
                            <select class="form-select" [(ngModel)]="selectedTopic" aria-label="topic" name="tematica" id="topicId">
                                <option selected> </option>
                                <option *ngFor="let topic of topics" [ngValue]="topic.id"> {{topic.value}} </option>
                            </select>
                            <label for="topicId"> tematica </label>
                        </div>
                    </div>
                </div>
            </form>
            <br />
            <div class="row d-flex justify-content-center">
                <div class="col-md-2">
                    <button class="btn btn-dark" color="dark" (click)="searchPeople()"> Cerca </button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary" color="primary" (click)="reset()"> Pulisci </button>
                </div>
            </div>
        
     
   
            <div *ngIf="success && !error && people.length>0">
                <table>
                    <thead>
                        <tr>
                            <th> username </th>
                            <th> nome </th>
                            <th> cognome </th>
                            <th> competenza </th>
                            <th> voto </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let person of people">
                            <tr *ngFor="let skillMark of person.skillMarkList">
                                <td> {{person.username}} </td>
                                <td> {{person.name}} </td>
                                <td> {{person.surname}} </td>
                                <td> {{skillMark.skillName}} </td>
                                <td> <img class="images" [src]="'/assets/images/mark'+skillMark.mark+'.png'" /> </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div *ngIf="success && !error && people.length==0">
                <h4> Nessuna persona soddisfa la ricerca </h4>
            </div>
            <div *ngIf="error">
                <h4> Oops! Non è stato possibile caricare le persone </h4>
            </div>
                </div>
            </div>
</div> -->