.container {
    margin-top: 80px;
}

button {
    padding-left: 1rem;
    padding-right: 1rem;
    text-transform: uppercase;
    margin: 0rem 1rem 0rem 0rem;
}

.card-footer {
    justify-content: center;
    display: flex;
}

div .d-flex i-feather {
    cursor: pointer;
    color: black;
}

.card-body {
    padding: 40px;
    padding-bottom: 60px;
}