<div class="container">
    <div class="d-flex justify-content-between">
        <h2> {{pageTitle}} </h2>
        <a [routerLink]="link.path"> {{link.name}} </a>
    </div>
    <div class="col-md-12 card">
        <div class="card-header">
            <div class="d-flex">
                <i-feather [name]="iconName"></i-feather>
                <h4> {{cardTitle}} </h4>
            </div>
        </div>
        <div class="card-body">
            <ng-content></ng-content>
        </div>
        <div *ngIf="buttons.length!==0" class="card-footer">
            <button *ngFor="let button of buttons" (click)="button.action()" class="btn btn-dark" color="dark"> {{button.name}} </button>
        </div>
    </div>
</div>